In [8]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)

In [9]:
building_permits_df = pd.read_csv('Building_Permits.csv',sep=",",header=0,low_memory=False)

In [10]:
permits_nadrop_df = building_permits_df.dropna(how='any')

In [11]:
permits_nadrop_df.head()

,ID,PERMIT#,PERMIT_TYPE,ISSUE_DATE,ESTIMATED_COST,LATITUDE,LONGITUDE,LOCATION
2,1378485.0,100002267,PERMIT - RENOVATION/ALTERATION,3/10/06,45000.0,41.925857,-87.664452,"(41.92585684158289, -87.66445154091303)"
4,1381541.0,100004342,PERMIT - RENOVATION/ALTERATION,9/29/05,38000.0,41.910173,-87.690678,"(41.91017264385976, -87.69067799640872)"
11,1392510.0,100010675,PERMIT - NEW CONSTRUCTION,9/30/05,800000.0,41.894941,-87.649976,"(41.89494059376751, -87.64997609685338)"
13,1393747.0,100011654,PERMIT - NEW CONSTRUCTION,6/9/06,450000.0,41.948342,-87.654216,"(41.94834184745331, -87.65421574924672)"
16,1394091.0,100011918,PERMIT - NEW CONSTRUCTION,2/6/06,1500000.0,41.993060,-87.660508,"(41.99305950561552, -87.6605083331167)"

In [12]:
permits_nadrop_df.columns

Index(['ID', 'PERMIT#', 'PERMIT_TYPE', 'ISSUE_DATE', 'ESTIMATED_COST',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [13]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///chidata.sqlite', echo=False)

In [14]:
permits_nadrop_df.to_sql(name='building_permits',index=False,con=engine,if_exists='append')